@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background-color: rgb(188, 159, 79);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#root, #__next {
  isolation: isolate;
}

